/* * * * * * * * * * * * * *
 *
 * Home Page
 *
 * * * * * * * * * * * * */

.online___order__app {
    width: 100%;
}

.order__app__landing__page .landing__page__container {
    background:
        linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), 
        url('../storage/background-images/food-bg.jpg') no-repeat right;
    background-attachment: fixed;
    background-size: cover;
    width: 95%;
    height: 96.5vh;
}

.order__app__landing__page .landing__page__content {
    position: relative;
    margin-top: 2rem;
    padding: 2rem;
}

.order__app__landing__page .navbar a{
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-shadow: 0 2px 5px rgba(0, 0, 0, .8);
}

/*
 * Navbar Links
 */
.navbar .nav-links .nav-item {
    display: none;
}

/*
 * Navbar Logo
 */
.navbar .brand-logo {
    height: 10vh;
    font-size: 1.5rem;
    font-family: 'Snell Roundhand';
    color: #FFF;
    border-top: 3px solid rgb(255, 219, 101);
    border-bottom: 3px solid rgb(255, 219, 101);;
}

/*
 * Navbar Hamburger
 */
.navbar .hamburger {
    position: absolute;
    right: 5.5%;
    top: 6%;
    padding: 0.5rem;
    font-size: 2rem;
    background-color: transparent;
    color:#FFF;
    cursor: pointer;
}

.navbar .hamburger:hover,
.navbar .hamburger:focus {
    opacity: 0.8;
}

/*
 * Navbar Checkbox
 */
.navbarCheckBox {
    position: absolute;
    right: 100%;
    top: 8.45%;
    opacity: 1;
}

#checkboxNavbar:checked ~ .nav-item{
    display: block;
}

/* * * *
 * END *
 * * * */

/*
 * Landing Page Text Content
 */
.text__content {
    width: 50%;
    padding: 1rem;
    color: #FFF;
    background-color: rgba(0, 0, 0, .3);
    border-left: 0.5rem solid #FFF;
    border-radius: 0 50rem 50rem 0;
    z-index: 111;
}

.food-online-emph {
    padding: 0.5rem 0;
}

.hard-work-emph {
    font-size: 1.5rem;
    font-weight: 400;
}

.rewarded-emph {
    font-family: 'Snell Roundhand';
    font-size: 3.5rem;
    color:  rgb(255, 219, 101);
    text-shadow: 0 1px 1px rgba(65, 65, 65, 0.9);
}

.width-emph {
    font-size: 1.5rem;
    font-weight: 400;
}

.text__content .heavenly-emph {
    font-family: 'Snell Roundhand';
    font-size: 3.5rem;
    color:  rgb(255, 219, 101);
    text-shadow: 0 1px 1px rgba(65, 65, 65, 0.9);
}

.text__content .paragraph-content {
    margin-top: .25rem;
    font-size: 0.75rem;
}

/* * * *
 * END *
 * * * */

/*
 * Landing Page Buttons
 */
.custom-btn {
    display: block;
    padding: 1rem 4rem;
    margin: 1.25rem 0.5rem 0;
    font-size: 1.25rem;
    font-weight: 700;
    background-color: transparent;
    color:#FFF;
    border-radius: 5rem;
    border: 1px solid rgb(226, 226, 226);
    transition: all 255ms ease-in linear;
}

.btn-order-now::after {
    content: "\f07a";
    font-size: 1rem;
    font-weight: 900; 
    font-family: "Font Awesome 5 Free"; 
    color: rgb(255, 255, 255);
    margin-left: 1rem;
}

.custom-btn:hover::after {
    color: black;
}

.custom-btn:hover,
.custom-btn:focus {
    transform: scale(1.025);
    background-color: #FFF;
    color: black;
}

.btn-active {
    padding: 1rem 5rem;
    background: #FFF;
    color: black;
}

.btn-active:focus,
.btn-active:hover {
    background-color: transparent;
    color: #FFF;

}

/* * * *
 * END *
 * * * */
 
/*
 *Social Media Links
 */

.social__media__links__container {
    position: fixed;
    top: 27vh;
    left: 0;
    padding: 0.5rem;
    background: #FFF;
    border-radius: 0 0.5rem 0.5rem 0;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, .2);
    z-index: 1;
}

.social__media__links__container .social__links {
    list-style: none;
}

.social__media__links__container .social-media-link {
    font-size: 1.75rem;
}

.social__media__links__container .fab {
    background: #FFF;
    padding: 0.5rem;
    border-radius: 0 0.5rem 0.5rem 0;
    transition: all 255ms ease-in;
}

.social__media__links__container .fa-facebook-square {
    color: #3b5998 ;
}
.social__media__links__container .fa-twitter-square {
    color: #00acee ;
}
.social__media__links__container .fa-youtube-square {
    color: red;
}
.social__media__links__container .fa-linkedin {
    color: #0e76a8;
}
.social__media__links__container .fa-google-plus-square {
    color: #db4a39;
}

.social__media__links__container .fab:hover,
.social__media__links__container .fab:focus {
    border-left: none;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, .2);
    transform: translateX(2rem);
}

/*
 * BOTTOM UP
 */

.btn-bottom-up {
    position: fixed;
    right: 5%;
    bottom: 5%;
    background-color: #FFF;
    padding: 1rem 1.5rem;
    border-radius: 20rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    z-index: 999;
}

.btn-bottom-up:hover,
.btn-bottom-up:focus {
    opacity: .9;
}

.btn-bottom-up .fa-angle-up {
    font-size: 2rem;
}

/* * * *
 * END *
 * * * */
 
/*
 * Featured Products
 */

.products__container {
    width: 85%;
    height: auto;
}


.products__container .featured__products__title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    height: 30vh;
    width: 100%;
    margin-bottom: 4rem;
    background-color: #ececec;
}
.products__container .featured-products-text {
    font-family: 'Trattatello, fantasy';
}

.product-image {
    min-width: 100%;
    height: 37vh;
}

.products__container .japanese__cuisine {
    padding: 0.5rem;
    height: auto;
}

.divider {
    height: 50vh;
    width: 100%;
    background: url('../storage/background-images/top-view-plate.jpg') no-repeat center center;
    background-attachment: fixed;
    background-size: contain;
}

.local__cuisine {
    width: 80%;
    height: auto;
}

.local__cuisine .title-header {
    width: 100%;
    font-weight: 100;
    font-size: 1.25rem;
}

.local__cuisine .fa-star {
    color: #FFDC00;
}


/*
 * CHEFS
 */
 .featured-chefs {
    width: 85%;
    height: auto;
}


.featured-chefs .featured__chefs__title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    height: 30vh;
    width: 100%;
    margin-bottom: 4rem;
    background-color: #ececec;
}
.featured-chefs .featured-chefs-text {
    font-family: 'Trattatello, fantasy';
}
.chef-img-info {
    position: absolute;
    bottom: 5%;
    right: 0;
    left: 0;
    padding: 0.5rem 1rem;
    width: 100%;
    color: #000;
    line-height: 1.7;
    font-weight: 600;
    font-family: 'Calibri';
    text-align: center;
    background-color: rgb(255, 255, 255);
}

.featured-chefs .fab {
    border: none;
    font-size: 2rem;
}

.featured-chefs .fa-facebook-square {
    color: #3b5998 ;
}
.featured-chefs .fa-twitter-square {
    color: #00acee ;
}
.featured-chefs .fa-youtube-square {
    color: red;
}
.featured-chefs .fa-linkedin {
    color: #0e76a8;
}
.featured-chefs.fa-google-plus-square {
    color: #db4a39;
}


/*
 * FOOTER
 */
.order-app-footer .footer-logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.order-app-footer .footer-logo {
    background-color: #FFF;
    padding: 2.5rem;
}

.order-app-footer .footer-header {
   font-size: .85rem;
   font-weight: 500;
}

.order-app-footer ul li {
    font-size: .75rem;
}

.follow__us {
    width: 80%;
    margin: 0 auto;
}

.follow__us .follow__us__links {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
}

.follow__us .follow__us__links {
    list-style-type: none;
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-evenly;
}


/* * * * * * * * * * * * * *
 *
 * Payment Finished Page
 *
 * * * * * * * * * * * * */

 .payment__message__container {
    background: url('../storage/background-images/payment-finish.png') no-repeat left;
    background-size: contain;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
}

.payment-card {
    width: 50rem;
    margin: 0 .75rem;
}

.payment-card-header {
    font-size: 1.5rem;
}

.text-message {
    font-size: 1;
}

/*
 * Payment Form Page
 */

/* Global */


.payment__app__body {
    background-color: #76528BFF;
}

@media screen and (min-width: 1200px) {

    .payment__app .payment__form__container {
        width: calc(65.75% + 20rem);
        height: calc(70% + 12.5rem);
        margin: auto;
    }
}

@media screen and (min-width: 576px) and (max-width: 767.98px)
{   
    .payment__cost__col {
        height: 50vh;
        margin-bottom: 0.75rem;
    }
    .payment__form__col {
        margin-bottom: 0.75rem;

    }
}

@media screen and (max-width: 575.98px)
{   
    .payment__cost__col {
        height: 50vh;
        margin-bottom: 0.75rem;
    }
    
    .payment__form__col {
        margin-bottom: 0.75rem;
    }
}

.payment__cost__col {
    height: auto;
    padding: 2rem;
}
.payment__form__container {
    height: 80vh;
}

.to__pay__container {
    background: linear-gradient(#A88BEB, #F8CEEC);
}

.to__pay__content{
    height: 100%;
}

.to-pay-text-container {
    height: 100%;
    font-size: 3rem;
    font-weight: 500;
}

.to-pay-text {
    text-shadow: 0 1px 10px black;
    font-size: 1rem;
}

/*
 * Payment Form Fieldset
 */
.payment__form .payment__form__fieldset {
    border-top: none;
    border-radius: 0 0.5rem 0.5rem 0;
}
/*
 * Payments Title
 */
.payment__form .payments-title {
    font-weight: 100;
    font-size: 2.5rem;
}

.payment__form .payment-instruction {
    font-weight: 700;
    line-height: 1.7;
}

/*
 * Credit Card Image
 */

.payment__form .payment__form__credit__card{
    height: 100%;
    width: 100%;
    margin-bottom: 1rem;
}

.payment__form .credit-card-img {
    width: 20rem;
    height: 12.5rem;
}

/*
 * Payment Form Buttons
 */

 .cancel-payment {
    position: absolute;
    bottom: 2.5%;
    font-weight: 700;
    color: white;
    text-shadow: 0 1px 1px black;
}

.cancel-payment::before {
    content: "\f359";
    font-size: 1rem;
    font-weight: 900; 
    font-family: "Font Awesome 5 Free"; 
    margin-right: 1rem;
}

