/*
 * CUSTOM GLOBAL STYLING
 */

 /* Social Media Links */

 .fa-facebook {
    color: #3b5998
 }

.fa-twitter-square {
    font-size: 2rem;
    color: #00acee ;
}
.fa-youtube {
    color: red;
}
.fa-twitter {
    color: #00acee;
}
.fa-google-plus {
    color: #db4a39;
}


/* * * * * * * * * * * * * *
 *
 * Home Page
 *
 * * * * * * * * * * * * */

.online___order__app {
    width: 100%;
}

.order__app__landing__page .landing__page__container {
    position: relative;
    background:
        linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), 
        url('../storage/background-images/food-bg.jpg') no-repeat right;
    background-attachment: fixed;
    background-size: cover;
    width: 95%;
    height: auto;
}

@media screen and (min-width: 1200px)
{
    .order__app__landing__page .landing__page__container {
        height: 96.5vh;
    }
}

.order__app__landing__page .landing__page__content {
    position: relative;
    margin-top: 2rem;
    padding: 2rem;
}

.order__app__landing__page .navbar a{
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-shadow: 0 2px 5px rgba(0, 0, 0, .8);
}

/*
 * Navbar Links
 */
.navbar .nav-links .nav-item {
    display: none;
}

/*
 * Navbar Logo
 */
.navbar .brand-logo {
    height: 10vh;
    font-size: 1.5rem;
    font-family: 'Snell Roundhand';
    color: #FFF;
    /* /* border-top: 3px solid rgb(255, 219, 101); */
    /* background-color:rgba(255, 255, 255, .1); */
}

.navbar .brand-logo .footer-logo-text {
    padding: 0;
    border-bottom: 3px solid rgb(255, 219, 101); 
}

.navbar .brand-logo img {
    width: 2.5rem;
    height: 2.5rem;

}

/*
 * Navbar Hamburger
 */
.navbar .hamburger {
    position: absolute;
    right: 2%;
    top: 2%;
    padding: 0.5rem;
    font-size: 2rem;
    background-color: transparent;
    color:#FFF;
    cursor: pointer;
}

.navbar .hamburger:hover,
.navbar .hamburger:focus {
    opacity: 0.8;
}

/*
 * Navbar Checkbox
 */
.navbarCheckBox {
    display: none;
}

#checkboxNavbar:checked ~ .nav-item{
    display: block;
}

/* * * *
 * END *
 * * * */

/*
 * Landing Page Text Content
 */
.text__content {
    width: 50%;
    padding: 1rem;
    color: #FFF;
    background-color: rgba(0, 0, 0, .35);
    border-left: 0.5rem solid #FFF;
    border-radius: 0 50rem 50rem 0;
    z-index: 111;
}

@media screen and (min-width: 768px) and (max-width: 991.98px)
{
    .text__content {
        width: 100%;
        border-radius: 0 1rem 1rem 0;
    }
}

@media screen and (min-width: 576px) and (max-width: 767.98px)
{
    .text__content {
        width: 100%;
        border-radius: 0 1rem 1rem 0;
    }
}

@media screen and (max-width: 575.98px)
{
    .text__content {
        width: 100%;
        border-radius: 0 1rem 1rem 0;
    }
}


.food-online-emph {
    padding: 0.5rem 0;
}

.hard-work-emph {
    font-family: 'Snell Roundhand';
    font-size: 1.6rem;
    font-weight: 400;
}

.rewarded-emph {
    font-family: 'Snell Roundhand';
    font-size: 3.5rem;
    color:  rgb(255, 219, 101);
    text-shadow: 0 1px 1px rgba(65, 65, 65, 0.9);
}

.with-emph {
    font-family: 'Snell Roundhand';
    font-size: 1.6rem;
    font-weight: 400;
}

.text__content .heavenly-emph {
    font-family: 'Snell Roundhand';
    font-size: 3.5rem;
    color:  rgb(255, 219, 101);
    text-shadow: 0 1px 1px rgba(65, 65, 65, 0.9);
}

.text__content .paragraph-content {
    margin-top: .25rem;
    font-size: 0.75rem;
}

/* * * *
 * END *
 * * * */

/*
 * Landing Page Buttons
 */
.custom-btn {
    display: block;
    padding: 1rem 4rem;
    margin: 1.25rem 0.5rem 0;
    font-size: 1rem;
    font-weight: 700;
    background-color: transparent;
    color:#FFF;
    border-radius: 5rem;
    border: 1px solid rgb(226, 226, 226);
    transition: all 255ms ease-in linear;
}

.btn-order-now::after {
    content: "\f07a";
    font-size: 1rem;
    font-weight: 900; 
    font-family: "Font Awesome 5 Free"; 
    color: rgb(255, 255, 255);
    margin-left: 1rem;
}

.custom-btn:hover::after {
    color: black;
}

.custom-btn:hover,
.custom-btn:focus {
    transform: scale(1.025);
    background-color: #FFF;
    color: black;
}

.btn-active {
    padding: 1rem 5rem;
    background: #FFF;
    color: black;
}

.btn-active:focus,
.btn-active:hover {
    background-color: transparent;
    color: #FFF;

}

/* * * *
 * END *
 * * * */
 
/*
 *Social Media Links
 */

.social__media__links__container {
    position: fixed;
    top: 27vh;
    left: 0;
    padding: 0.5rem;
    background: #FFF;
    border-radius: 0 0.5rem 0.5rem 0;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, .2);
    z-index: 1;
}

.social__media__links__container .social__links {
    list-style: none;
}

.social__media__links__container .social-media-link {
    font-size: 1.75rem;
}

.social__media__links__container .fab {
    background: #FFF;
    padding: 0.5rem;
    border-radius: 0 0.5rem 0.5rem 0;
    transition: all 255ms ease-in;
}

.social__media__links__container .fa-facebook-square {
    color: #3b5998 ;
}
.social__media__links__container .fa-twitter-square {
    color: #00acee ;
}
.social__media__links__container .fa-youtube-square {
    color: red;
}
.social__media__links__container .fa-linkedin {
    color: #0e76a8;
}
.social__media__links__container .fa-google-plus-square {
    color: #db4a39;
}

.social__media__links__container .fab:hover,
.social__media__links__container .fab:focus {
    border-left: none;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, .2);
    transform: translateX(2rem);
}

/*
 * BOTTOM UP
 */

.btn-bottom-up {
    position: fixed;
    right: 5%;
    bottom: 5%;
    background-color: #FFF;
    padding: 1rem 1.5rem;
    border-radius: 20rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    z-index: 999;
}

.btn-bottom-up:hover,
.btn-bottom-up:focus {
    opacity: .9;
}

.btn-bottom-up .fa-angle-up {
    font-size: 2rem;
}

/* * * *
 * END *
 * * * */
 
/*
 * Featured Products
 */

.products__container {
    width: 80%;
    height: auto;
}


@media screen and (min-width: 768px) and (max-width: 991.98px)
{
     .products__container {
        margin-top: 8.5rem;
    }
}

@media screen and (min-width: 576px) and (max-width: 767.98px)
{
     .products__container {
        margin-top: 8.5rem;
    }
}

@media screen and (max-width: 575.98px)
{
     .products__container {
        margin-top: 15rem;
    }
}
.products__container .featured__products__title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 100%;
    margin-bottom: 4rem;
    font-size: 3rem;
    font-weight: 600;
    font-family: 'Snell Roundhand';
    border-bottom: 3px solid rgb(255, 219, 101); 
}
.products__container .featured-products-text {
    font-family: 'Trattatello, fantasy';
}

.product-image {
    min-width: 100%;
    height: 37vh;
}

.products__container .japanese__cuisine {
    width: 85%;
    height: auto;
    padding: 0.5rem;
}

.divider {
    height: 50vh;
    width: 100%;
    background: url('../storage/background-images/top-view-plate.jpg') no-repeat center center;
    background-attachment: fixed;
    background-size: contain;
}

.local__cuisine {
    width: 85%;
    height: auto;
}

.local__cuisine .title-header {
    width: 100%;
    font-weight: 100;
    font-size: 1.25rem;
    padding: 2rem;
}

.local__cuisine .fa-star {
    color: #FFDC00;
}

.local__cuisine .product-price {
    font-size: 1.25rem;
    color: #2c2c2c;
}


/*
 * CHEFS
 */
 .featured-chefs {
    width: 100%;
    height: auto;
    margin-top: 3rem;
}

.featured-chefs .featured__chefs__title {
    background: url('../storage/background-images/featured-chef.jpg') no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 100%;
    font-size: 3rem;
    font-family: 'Snell Roundhand';
    margin: 4rem 0;
    background-color: #ececec;
    border-radius: 0.5rem;
    box-shadow:inset 0 0 4px 2px rgba(255, 255, 255, 0.8);
}
.featured-chefs .featured-chefs-text {
    font-family: 'Trattatello, fantasy';
}



/*
 * FOOTER
 */

.order-app-footer {
    height: auto;
    background: #2c2c2c;
}

@media screen and (min-width: 1200px)
{
    .order-app-footer {
        height: 70vh;
    }
}

.order-app-footer .footer-logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.order-app-footer .footer-logo {
    padding: 2.5rem;
}

.order-app-footer .footer-logo-text {
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 700;
    font-size: 1.5rem; 
    padding: 0 0 0.25rem;
    border-bottom: 3px solid rgb(255, 219, 101);
}



.order-app-footer .footer-header {
   font-size: .85rem;
   font-weight: 500;
}

.order-app-footer .footer-lists {
    list-style: none;
}

.order-app-footer .footer-lists i {
    color: #d8bc03;
    margin-right: 0.15rem;
}

.order-app-footer ul li {
    padding: 0.25rem 0;
    font-size: .75rem;
    color: #ced4da;
}

.order-app-footer .footer-item-header {
    color: #d8bc03;
    padding: 1rem;
}


@media screen and (min-width: 1200px)
{
    .follow__us {
        height: 20vh;
    }
}

.follow__us {
    width: 80%;
    margin: 3rem auto;
}

.follow__us .follow__us__links {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
}

.follow__us .follow__us__links {
    list-style-type: none;
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-evenly;
}

.fa-facebook-square {
    font-size: 2rem;
    color: #3b5998 ;
}
.fa-twitter-square {
    font-size: 2rem;
    color: #00acee ;
}
.fa-youtube-square {
    font-size: 2rem;
    color: red;
}
.fa-linkedin {
    font-size: 2rem;
    color: #0e76a8;
}
.fa-google-plus-square {
    font-size: 2rem;
    color: #db4a39;
}


/* * * * * * * * * * * * * *
 *
 * Payment Finished Page
 *
 * * * * * * * * * * * * */

 .payment__message__container {
    background: url('../storage/background-images/payment-finish.png') no-repeat left;
    background-size: contain;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
}

.payment-card {
    width: 50rem;
    margin: 0 .75rem;
}

.payment-card-header {
    font-size: 1.5rem;
}

.text-message {
    font-size: 1;
}

/*
 * Payment Form Page
 */

/* Global */


/* * * * * * * * * * * *
 *
 * SIGN UP FORM PAGE
 *
 * * * * * * * * * * * */


 .sign-up-form-app {
    background: 
        url('../storage/background-images/top-view-plate.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
    height: auto;
    margin: auto;
    padding: 0.5rem 1.5rem;
}

@media screen and (min-width: 1200px) 
{
    .sign-up-form-app {
        background: 
            url('../storage/background-images/top-view-plate.jpg') no-repeat center;
        background-size: cover;
        width: 100%;
        height: 100vh;
        margin: auto;
        padding: 0.5rem 10rem;
    }
}

/* * * * * * * * 
*
*  SIDEBAR
*
* * * * * * * */
.sign-up-form-app .sidebar-container {
    height: 90%;
    padding: 2rem;
    border-radius: 0.5rem 0 0 0.5rem;
    background-color: #2c2c2c;
    box-shadow: inset 0 0 3px 1px rgba(255, 255, 255, .8);
}


.sign-up-form-app .sidebar-logo {
    position: relative;
    font-size: 1rem;
    padding: 0;
    color: #FFF;
    letter-spacing: 1px;
}

.sign-up-form-app .sidebar-logo-img {
    color: #FFF;
}

.sign-up-form-app .logo__title {
    border-bottom: 2px solid #FFC300;
}

.sign-up-form-app .sidebar-container .sidebar-text-main {
    font-size: 2.25rem;
    font-family: 'Calibri';
    color: #FFF;
}

.sign-up-form-app .sidebar-container .sidebar-text-sub {
    color: #ced4da;
    font-family: 'Calibri';
}

.sign-up-form-app .sidebar-sign-in {
    padding: 1rem 5rem;
    border-radius: 10rem;
}

/* * * * * * * * 
*
*  SIGN-UP FORM
*
* * * * * * * */

.sign-up-form-app .signup-form-container {
    margin-top: 2rem;
    background: linear-gradient(rgba(255, 255, 255, .4), rgba(255, 255, 255, .4));
    height: 90%;
    border-radius: 0 0.5rem 0.5rem 0;
}

@media screen and (min-width: 1200px) 
{
    .sign-up-form-app .signup-form-container {
        background: transparent;
        height: 90%;
        border-radius: 0 0.5rem 0.5rem 0;
    }
}

.sign-up-form-app .signup-landing-page {
    height: 100%;
}

.sign-up-form-app .create-account {
    font-weight: 700;
}

@media screen and (min-width: 1200px) 
{
    .sign-up-form-app .create-account {
        font-weight: 700;
        padding: 1rem 2.5rem !important;
    }
}

.sign-up-form-app .login-form-container .fab {
    font-size: 2.5rem;
    background-color: rgb(240, 240, 240); 
    border-radius: 50%;
}

.sign-up-form-app .sign-up-text {
    color: #2c2c2c;
}

.sign-up-form-app .login-form-container .agreement {
    text-decoration: underline;
}




/* * * * * * * * * * * *
 *
 * SIGN IN FORM PAGE
 *
 * * * * * * * * * * * */


 .login-form-app {
    background: 
        url('../storage/background-images/top-view-plate.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 1.5rem;

}

@media screen and (min-width: 1200px) 
{
    .login-form-app { 
        height: 100vh;
        padding: 0.5rem 10rem;
    }
}

/* * * * * * * * 
*
*  SIDEBAR SIGN IN
*
* * * * * * * */
.login-form-app .sidebar-container {
    height: 100vh;
    padding: 2rem;
    margin-top: 2rem;
    border-radius: 0.5rem 0 0 0.5rem;
    background-color: #2c2c2c;
    box-shadow: inset 0 0 3px 1px rgba(255, 255, 255, .8);
}

@media screen and (min-width: 1200px) 
{
    .login-form-app .sidebar-container {
        height: 90vh;
    }
}


.login-form-app .sidebar-logo {
    position: relative;
    text-align: right;
    display: block;
    font-size: 1rem;
    padding: 0;
    color: #FFF;
    letter-spacing: 1px;
}

.login-form-app .sidebar-logo-img {
    color: #FFF;
}

.login-form-app .logo__title {

    border-bottom: 2px solid #FFC300;
}

.login-form-app .sidebar-container .sidebar-text-main {
    font-size: 2.25rem;
    font-family: 'Calibri';
    color: #FFF;
}

.login-form-app .sidebar-container .sidebar-text-sub {
    color: #ced4da;
    font-family: 'Calibri';
}

.login-form-app .sidebar-sign-in {
    padding: 1rem 5rem;
    border-radius: 10rem;
}

/* * * * * * * * 
*
*  SIGN-IN FORM
*
* * * * * * * */

.login-form-app .login-form-container {
    height: 90%;
    border-radius: 0 0.5rem 0.5rem 0;
    background-color: rgba(0, 0, 0, .5);
}

@media screen and (min-width: 1200px) 
{
    .login-form-app .login-form-container {
        background-color: transparent;
    }
}

.login-form-app .login-landing-page {
    height: 100%;
}

.login-form-app .create-account {
    font-weight: 700;
    padding: 1rem 2.5rem !important;
}

.login-form-app .login-form-container .fab {
    font-size: 2.5rem;
    background-color: rgb(240, 240, 240); 
    border-radius: 50%;
}

.login-form-app .sign-up-text {
    color: #2c2c2c;
}

.login-form-app .login-form-container .agreement {
    text-decoration: underline;
}



