
.animate-shake {
    position: relative;
    animation: shake 1s .15s ease-in;
}

@keyframes shake {
    from {
        top: -100px;
        opacity: 0;
    }
    to {
        top: 10px;
        opacity: 1;
    }

}
